[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
falcon = "*"
gunicorn = "*"
bcrypt = "*"
gevent = "*"
apispec = "*"
marshmallow = "*"
falcon-apispec = "==0.3.0"
falcon-swagger-ui = "*"
injector = "*"
pipenv-to-requirements = "*"
falcon-marshmallow = "*"
mongoengine = "*"
buslane = "*"
serviceregistry = {editable = true, ref = "master", git = "https://github.com/0mars/serviceregistry.git"}
injector-provider = {editable = true, ref = "master", git = "https://github.com/bookla-foundation/injector_provider.git"}

[dev-packages]
pytest = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-cov = "*"
pytest-pycodestyle = "*"
mypy = "*"
pipenv-to-requirements = "*"
black = "==20.8b1"
flake8 = "*"
isort = "*"
pre-commit = "*"
autopep8 = "*"
typing-extensions = "*"
coverage = "*"

[requires]
python_version = "3.8"
